* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.choice {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: black;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.choices {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
    gap: 10px;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 10px;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
.score{
    text-align: center;
}