/* ---------- Reset ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ---------- Body ---------- */

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#6f86d6,#8e5fbf);

    font-family:Arial, Helvetica, sans-serif;
}

/* ---------- Main Container ---------- */

.container{

    width:90%;
    max-width:450px;

    background:white;

    border-radius:20px;

    padding:25px;

    box-shadow:0px 10px 30px rgba(0,0,0,0.15);
}

/* ---------- Heading ---------- */

h1{

    text-align:center;

    margin-bottom:20px;

    color:#333;
}

/* ---------- Input Section ---------- */

.input-container{

    display:flex;

    gap:10px;

    margin-bottom:15px;
}

.input-container input{

    flex:1;

    padding:12px;

    font-size:16px;

    border:1px solid #ccc;

    border-radius:8px;

    outline:none;
}

.input-container input:focus{

    border-color:purple;
}

.input-container button{

    padding:12px 18px;

    border:none;

    border-radius:8px;

    background:purple;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:0.2s;
}

.input-container button:hover{

    background:#6d0277;
}

/* ---------- Filter Buttons ---------- */

.filter-buttons{

    display:flex;

    gap:10px;

    margin-bottom:20px;
}

.filter-buttons button{

    flex:1;

    padding:10px;

    border:none;

    border-radius:8px;

    background:#eeeeee;

    cursor:pointer;

    transition:0.2s;
}

.filter-buttons button:hover{

    background:#dddddd;
}

/* ---------- Task Section ---------- */

.task-container{

    min-height:120px;

    margin-bottom:20px;
}

.task-list{

    list-style:none;
}

.empty-message{

    color:gray;
}

/* ---------- Footer ---------- */

.footer{

    display:flex;

    justify-content:space-between;

    align-items:center;

    font-size:14px;
}

.clear-btn{

    border:none;

    background:none;

    color:purple;

    cursor:pointer;

    transition:0.2s;
}

.clear-btn:hover{

    text-decoration:underline;
}
.task-list button{
    border:none;
    border-color: none;
    cursor: pointer;
}
.task-list li{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
.filter-buttons button.pressed {
    background-color: #4CAF50;
    color: white;
}